.input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chatContainer {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
  margin-bottom: 20px;
  overflow: auto;
}

.userMessage,
.assistantMessage {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 8px;
  max-width: 80%;
  word-wrap: break-word;
}

.userMessage {
  align-self: flex-end;
  background-color: #daf8e3;
}

.assistantMessage {
  align-self: flex-start;
  background-color: #f1f1f1;
}

.messageInputContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  height: auto;
  padding-bottom: 20px;
}

.heading1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textarea {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  width: 100%;
  min-height: 50px;
  resize: both;
  overflow: auto;
  margin-right: 4px;
  flex: 3;
}

.buttonGroup {
  display: flex;
}

.inputSubmit,
.inputButton {
  padding: 12px 16px;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  margin: 0 2px;
}

.inputSubmit {
  flex-grow: 4;
}

.inputButton {
  flex-grow: 1;
  background-color: #f44336;
}

.inputText {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}

.placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.result {
  font-weight: bold;
  margin-top: 40px;
}

.inventoryContainer {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inventoryItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.inventoryItem:last-child {
  margin-bottom: 0;
}

.inventoryIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
